.Navbar {
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-family: var(--font-geist-sans);
    height: 10vh;
}

.Link {
    background-color: #1a1a1a;
    border: 1px solid #4d4d4d;
    border-radius: 1cap;
    padding: 0.5em;
    margin: 0 2cap;
    
    transition-property: background-color border;
    transition-duration: 0.15s;
}

.Link:hover {
    background-color: #313131;
    border: 1px solid #adadad;
}

.Link:active {
    background-color: #575757;
    border: 1px solid #fff;
}